{% extends "visadviser/vbase.html" %}
{% load static %}
{% block content %}




<div style="margin-top: 50px; margin-bottom: 50px; margin-left: 100px; margin-right: 100px;" class="doc-image">
    {% comment %} <div class="contact_bg_box">
        <img src="{% static 'images/visadviser.jpeg'%}" height="100%" width="100%" alt="">
    </div> {% endcomment %}
    
    <form method="post" action="{{v_document}}" enctype="multipart/form-data">
      {% csrf_token %}      
    <h2 style="text-align: center;"><b>Docunent Form</b></h2>
    <div class="container">
      <p>{{message}}</p>
      </div>
        <div class="row">
          <div class="col">
            <label for="country">Choose Country</label><br>
            <select name="country" id="country">
              <option value=""> Choose Country</option>
              <option value="australia">Australia</option>
              <option value="canada">Canada</option>
              <option value="europe">Europe</option>
              <option value="newzeland">Newzwland</option>
              <option value="singapore">Singapore</option>
            </select>
          </div>
          <div class="col">
            <label for="visatype">Visa type</label><br>
            <select name="visatype" id="visatype">
              <option value="">visa type</option>
              <option value="business">Business visa</option>
              <option value="work">Work visa</option>
              <option value="tourist">Tourist visa</option>
              <option value="student">Student visa</option>
            </select>
          </div>
        </div><br>
    
        <div class="row">
           <div class="col">
           <label for="formFile" class="form-label">Upload Valid Passport and Old Passports (if applicable)</label>
           <input class="form-control" type="file" id="passport" name="passport" value="{{document_detail.passport}}">
           </div>
            <div class="col">
            <label for="formFile" class="form-label">Upload Photos Latest, white background, 35mm x 45mm, 80% face</label>
            <input class="form-control" type="file" id="photo" name="photo">
             </div>
          </div><br>
    
           <div class="row">
           <div class="col">
           <label for="formFile" class="form-label">Latest Bank Statements of last 6 months with sign and seal</label>
           <input class="form-control" type="file" id="bankstatement" name="bankstatement">
           </div>
            <div class="col">
            <label for="formFile" class="form-label">Income Tax returns</label>
            <input class="form-control" type="file" id="itr" name="itr">
             </div>
          </div> <br>

           <div class="row">
           <div class="col">
           <label for="formFile" class="form-label">Hotel Confirmation</label>
           <input class="form-control" type="file" id="hotelconfirm" name="hotelconfirm">
           </div>
            <div class="col">
            <label for="formFile" class="form-label">Employment Proofs / Leave sanction letter (if job)</label>
            <input class="form-control" type="file" id="employeeproof" name="employeeproof">
             </div>
          </div> <br>

           <div class="row">
           <div class="col">
           <label for="formFile" class="form-label">Proofs of Job /Business(Business registration, Letterhead, Visiting card, etc)</label>
           <input class="form-control" type="file" id="jobproof" name="jobproof">
           </div>
            <div class="col">
            <label for="formFile" class="form-label">Proofs of properties owned like Home, Office, Factory, Land (7/12, 8A), etc.</label>
            <input class="form-control" type="file" id="propertyproof" name="propertyproof">
             </div>
          </div> <br>

          
           <div class="row">
           <div class="col">
           <label for="formFile" class="form-label">Investments like FD, Post, PF, PPF, LIC, NSC, Stock, etc</label>
           <input class="form-control" type="file" id="investment" name="investment">
           </div>
            <div class="col">
            <label for="formFile" class="form-label">Leave sanction letter from Office</label>
            <input class="form-control" type="file" id="leaveletter" name="leaveletter">
             </div>
          </div> <br>
          

           <div class="row">
           <div class="col">
           <label for="formFile" class="form-label">Aadhar Card, PAN Card, Driving License</label>
           <input class="form-control" type="file" id="APD" name="APD">
           </div>
            <div class="col">
            <label for="formFile" class="form-label">Proofs of Accommodation (Hotel Reservation / Private Individual, Travel plan/itinerary)</label>
            <input class="form-control" type="file" id="accommodation" name="accommodation">
             </div>
          </div> <br>


           <div class="row">
           <div class="col">
           <label for="formFile" class="form-label">Marriage Certificate</label>
           <input class="form-control" type="file" id="marriagecerti" name="marriagecerti">
           </div>
            <div class="col">
            <label for="formFile" class="form-label">Proofs of Children (Birth Certificate, Copy of Passport, etc)</label>
            <input class="form-control" type="file" id="childrenproof" name="childrenproof">
             </div>
          </div> <br>
    
          
    
          
                          
                          
          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
      </form>
    </div>

    <div class="contact_bg_box">
      <img src="{% static 'images/visadviser.jpeg'%}" height="100%" width="100%" alt="">
  </div>



    {% endblock content%}
    <script>
      $('.toast').toast('show');
    </script>