{% extends "visadviser/vbase.html" %}
{% load static %}

{% block content %}

  <!-- Dark overlay -->
  <div class="overlay"></div>

  <!-- Content -->
  <div class="content">
  
    <!-- open sidebar menu -->
    <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
                <i class="fas fa-align-left"></i> <span>Menu</span>
            </a>
  
        <!-- Top content -->
        <div class=" section-container" id="top-content" style="background: #b3b7f6;">
          <div class="container" >
              <div class="row">
                  <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 margin">
                    <h1 class="wow fadeIn"><strong>Welcome To Visa Advicer Side</strong></h1>
                    <div class="description wow fadeInLeft">
                      <p style="color:black">
                        Here You Can View User,Country and Visaype And Also You Can Add Country And Visatype

                      </p>
                    </div>
                    <div class="buttons wow fadeInUp">							
              <a class="btn btn-primary btn-customized-2 scroll-link" href="#section-3" role="button">
                <i class="fa-solid fa-plus"></i>
                Edit Profile
              </a>
            </div><br>
                  </div>
              </div>
          </div>
        </div>

        <!-- Section 1 -->
        <div class="section-1-container section-container" id="section-1">
          <div class="container con2">
              <div class="row">
                  <div class="col section-1 section-description wow fadeIn">
                      <h2>Query Details</h2>
                      <div class="divider-1 wow fadeInUp"><span></span></div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-8 section-2-box wow fadeInUp">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="section-1-box-icon">
                         <a href="{% url 'inquiry'%}"><button type="button" class="btn btn-primary">inquiry Details</button></a>
                        </div>
                      </div>
                      <div class="col-md-8">
                          <h3><b>Inquiry Details</b></h3>
                          <p>Here You Check All Inquiry Details And Give Answer To Their Query</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 section-2-box wow fadeInDown">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="section--box-icon">
                          <a href="{% url 'v_contact'%}"><button type="button" class="btn btn-primary">Contact Details</button></a>
                        </div>
                      </div>
                      <div class="col-md-8">
                          <h3><b>Contact Details</b></h3>
                          <p>Here You Check All Contact Details And Give Answer To Their Question</p>
                <!-- <button>Contact Details</button> -->
                        </div>
                      </div>
                    </div>
                    
              </div>
          </div>
        </div>

  
    
        <!-- Footer -->
        <footer class="footer-container">

          <div class="container">
            <div class="row">

                    <div class="col">
                      <!-- &copy; Bootstrap 4 Template with Sidebar Menu. Download it for free on <a href="https://azmind.com">AZMIND</a>. -->
                    </div>

                </div>
          </div>

        </footer>
      
      </div>
      <!-- End content -->
    
    </div>
    <!-- End wrapper -->
  {% endblock content%}