{% extends "main-admin/abase.html" %}
{% load static %}

{% block content %}


<div class="ask" style="margin-top: 200px; color: black; font-weight: bolder;">
    <form action="{{a_del_inq}}" method="POST">
        {% csrf_token %}
        <h3>Are you sure want to delete?</h3>
        
        <button class="btn btn-danger" type="submit">Yes</button>
        <button class="btn btn-primary"><a href="{% url 'a_inquiry' %}" style="color: white">No</
            a></button>
    </form>
</div>
{% endblock content%}