{% extends "main-admin/abase.html" %}
{% load static %}

{% block content %}

<div class="regis-head"><b>Registerd User</b></div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Phoneno</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for registeruser,registeruser2 in combine%}
      <tr>
        <th scope="row">{{registeruser.id}}</th>
        <td>{{registeruser.first_name}}</td>
        <td>{{registeruser.last_name}}</td>
        <td>{{registeruser.email}}</td>
        <td>{{registeruser2.phone}}</td>
        <td><a href="{% url 'edituser' registeruser.id %}"><button type="button" class="btn btn-primary">Edit</button></a></td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>


{% endblock content %}