{% extends "main-admin/abase.html" %}
{% load static %}

{% block content %}

<section class="contact_section layout_padding">
  <div class="contact_bg_box">
      <img src="{% static 'images/visadviser.jpeg'%}" height="100%" width="100%" alt="">
  </div> 
    <div class="vcontainer">
      <div class="heading_container heading_center">
        <h2><b>
          Visa-Adviser Allocation
        </b> </h2>
      </div>
            <form action="{{v_allocation}}" method="POST">
              <div class="row">
                {% csrf_token %}   
                <div class="col-md-6 mb-3">
                  <label for="">UserName</label>
                  <input type="text" name="username" class="form-control" value="">
              </div>
                  <div class="col-md-6 mb-3">
                      <label for="">First Name</label>
                      <input type="text" name="first_name" class="form-control" value="">
                  </div>
                  <div class="col-md-6 mb-3">
                      <label for="">Last Name</label>
                      <input type="text" name="last_name" class="form-control" value="">
                  </div>
                  <div class="col-md-6 mb-3">
                      <label for="">Email</label>
                      <input type="text" name="email" class="form-control" value="">
                  </div>
                  <div class="col-md-6 mb-3">
                      <label for="">Password</label>
                      <input type="password" name="password" class="form-control" value="">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="">phoneno</label>
                    <input type="number" name="phone" class="form-control" value="">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="">Date of birth</label>
                  <input type="date" name="date_of_birth" class="form-control" value="">
              </div>
              <div class="col-md-6 mb-3">
                <label for="">Experience(year)</label>
                <input type="number" name="experience" class="form-control" value="">
            </div>
            <div class="col-md-6 mb-3">
              <label for="">Qualification</label>
              <input type="text" name="qualification" class="form-control" value="">
          </div>
          <div class="col">
            <label for="visatype">Visa type</label><br>
            <select name="visatype" id="visatype">
              <option value="">visa type</option>
              <option value="business">Business visa</option>
              <option value="work">Work visa</option>
              <option value="tourist">Tourist visa</option>
              <option value="student">Student visa</option>
            </select>
        </div>
                 
              </div>
              <div class="text-end">
                  <button class="btn btn-dark" name="update_user_data">Submit</button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content%}