<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <title>Viseas</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
        rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <div class="hero_bg_box">
            <div class="img-box">
                <img src="" alt="">
            </div>
        </div>

        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid">
                    <div class="contact_link-container">
                        <a href="" class="contact_link1">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                quicl visa-service,sec-12,gandhinagar
                            </span>
                        </a>
                        <a href="" class="contact_link2">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call : +91 9074212654
                            </span>
                        </a>
                        <a href="" class="contact_link3">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                quickvisa@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container">
                        <a class="navbar-brand" href="index.html">
                            <span>
                                Viseas
                            </span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""></span>
                        </button>

                        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                            <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="service.html"> Services </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="coaching.html">Coaching</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html"> About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="countries.html"> Countries </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact us</a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->




        <div>
            <img src="{% static 'images/webilets.avif'%}" alt="" height="300px" width="100%">
        </div>
        <div class="imfo">
            <p>IELTS one of the most sought after tests among foreign education and immigration aspirants. This
                examination is designed so as to assess the English language skills of the candidates who need to study
                or work in countries where English is the primary language for communication. This examination makes it
                a point to conform to all the highest international standards of the English language assessment.</p>
            <b style="font-size: 30px;">What is IELTS?</b><br><br>
            <p>IELTS (International English Language Testing System) is one of the worlds most preferred and popular
                tests taken by those aspiring to study, work or migrate overseas. The test is an indicator of the
                English language proficiency of the non-native speakers across four skills: reading, listening, writing
                and speaking. IELTS happens to be the creator of four-skill language testing system three decades ago
                and still continues to set the benchmark for English language even today.</p>
            <b style="font-size: 30px;">IELTS Test Format</b><br><br>
            <p>The test comprises of four different sections as mentioned earlier. Out the four skills for which you
                will be evaluated, listening, reading and writing modules will be scheduled on the same day whereas the
                speaking module will be take place on a different day for which you will have to select date and time as
                per your convenience and if you fail to do so, a test date would mechanically be allotted to you. The
                entire test will take just about three hours to complete.</p>
            <b style="font-size: 25px;">Types of the IELTS Test </b><br><br>
            <p>There are two types of the IELTS test</p>
            <ol>
                <li>General Training, for the ones who plan to either migrate to foreign countries like Canada,
                    Australia, New Zealand and UK or who decide to work there.</li>
                <li>Academic Training, for the ones who aim to study abroad for graduation as well as post-graduation
                    programs. The IELTS test is accepted by more than 10,000 institutes in over 140 countries across the
                    globe</li>
            </ol>
            <p>The IELTS test allows the test takers to go for any of the two below mentioned alternatives:</p>
            <ul>
                <li>Paper-based Test</li>
                <li>Computer-delivered Test</li>
            </ul>
            <b style="font-size: 30px;">IELTS Listening Module Format</b><br><br>
            <p>The listening module consists of four sections with</p>
            <ul>
                <li>10 questions in each one of them.</li>
                <li>A recording will be played for every section which you are required to listen to attentively</li>
                <li>The recordings will have native speakers talking about diverse topics based on which there will be
                    questions.</li>
                <li>The question types mainly involve Fill in the blanks, Complete the flow chart/Map and, multiple
                    choice.</li>
                <li>You need to answer these questions correctly without missing any of them.</li>

            </ul>
            <p>The listening module format remains similar for both General training and Academic training. This module
                lasts for approximately 30 minutes with an added 10 minutes to transfer your answers to the answer sheet
            </p>
            <b style="font-size: 30px;">IELTS Reading Module Format</b><br><br>
            <p>Unlike the listening module, reading module has three sections with</p>
            <ul>
                <li>40 questions nearly equally spread across the three of them</li>
                <li>Is designed to assess you on a variety of reading skills</li>
                <li>Includes different question types such as Multiple choice, True, False, Not Given, Fill in the
                    blanks, Complete the sentence, Give Headings to paragraphs in the text, Yes, No, Not Given.</li>
                <li>You would have to read swiftly to get the gist of the topic in every section, focus on the main
                    ideas and try to understand the writers’ point of view in terms of opinions and arguments.</li>
            </ul>
            <p>The Reading module format is dissimilar for General training and Academic training. The language
                difficulty level of the Academic training is much more as opposed to the General training. However the
                question types remain alike for both. The duration for the reading module is 60 minutes.</p><br><br>
            <b style="font-size: 30px;">IELTS Writing Module Format</b><br><br>
            <p>The IELTS writing module comprises of two tasks</p>
            <ul>
                <li>Task 1 for Academic training requires you to write a summary of minimum 150 words on visual data or
                    information in the form of a pie chart, bar graph, table, process diagram or a combination of any of
                    the first three in 20 minutes</li>
                <li>You have to point out the peculiar features while making comparisons and contradictions of the data
                    provided using relevant vocabulary.</li>
                <li>End the task with a crisp conclusion.</li>
                <li>Task 1 for General training requires you to write a formal, informal or a semi-formal letter in 150
                    words within a period of 20 minutes</li>
                <li>You must form three paragraphs for the letter including Introduction, Body, and the Conclusion.</li>
                <li>The lexical resource or the language must be in sync with the purpose of the letter.</li>
                <li>Task 2 for both forms of training is the same.</li>
                <li>It is an essay writing task which needs to be written in at least 250 words</li>
                <li>Time allotted for this task is 40 minutes</li>
                <li>The topics covered under essay writing range from education, science, technology to general
                    interests.</li>
                <li>It is highly recommended to make use of topic pertinent terminology along with connecting words to
                    link your ideas coherently.</li>
            </ul>
            <b style="font-size: 30px;">IELTS Speaking Module Formatt</b><br><br>
            <ul>
                <li>It takes about 11-14 minutes of time</li>
                <li>This module assesses your spoken English skills like language fluency, pronunciation, intonation,
                    and few others.</li>
                <li>The first part requires you to introduce yourself to the examiner</li>
                <li>In the second part you will get a cue card mentioning a topic with three sub-topics within on which
                    you have to talk for 1-2 minutes</li>
                <li>The last part is all about discussion between you and your examiner with respect to the cue card
                    topic. Here, your examiner will ask you questions and you answer them suitably.</li>
            </ul>


        </div>




        <!-- info section -->
        <section class="info_section ">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info_logo">
                            <a class="navbar-brand" href="index.html">
                                <span>
                                    Viseas
                                </span>
                            </a>
                            <p>
                                Dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor
                                incididunt r
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_links">
                            <h5>
                                Useful Link
                            </h5>
                            <ul>
                                <li>
                                    <a href="">
                                        Dolor sit amet, consectetur
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Magna aliqua. Ut enim ad
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Minim veniam
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Quisdotempor incididunt r
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_info">
                            <h5>
                                Contact Us
                            </h5>
                        </div>
                        <div class="info_contact">
                            <a href="" class="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Lorem ipsum dolor sit amet,
                                </span>
                            </a>
                            <a href="" class="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call : +01 1234567890
                                </span>
                            </a>
                            <a href="" class="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    demo@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_form ">
                            <h5>
                                Newsletter
                            </h5>
                            <form action="#">
                                <input type="email" placeholder="Enter your email">
                                <button>
                                    Subscribe
                                </button>
                            </form>
                            <div class="social_box">
                                <a href="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end info_section -->




        <!-- footer section -->
        <footer class="container-fluid footer_section">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </footer>
        <!-- footer section -->

        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <!-- owl slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
        </script>
        <script src="js/custom.js"></script>

</body>

</html>