<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <title>Viseas</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
        rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<body style="background-color: rgb(132, 211, 248);">
    <div class="hero_area">
        <!-- header section strats -->
        <div class="hero_bg_box">
            <div class="img-box">
                <img src="" alt="">
            </div>
        </div>

        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid">
                    <div class="contact_link-container">
                        <a href="" class="contact_link1">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                quicl visa-service,sec-12,gandhinagar
                            </span>
                        </a>
                        <a href="" class="contact_link2">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call : +91 9074212654
                            </span>
                        </a>
                        <a href="" class="contact_link3">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                quickvisa@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container">
                        <a class="navbar-brand" href="index.html">
                            <span>
                                Viseas
                            </span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""></span>
                        </button>

                        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                            <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="service.html"> Services </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="coaching.html">Coaching</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html"> About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="countries.html"> Countries </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact us</a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->




        <div>
            <img src="{% static'images/webpte.avif'%}" alt="" height="300px" width="100%">
        </div>
        <div class="imfo">
            <b style="font-size: 35px;">PTE Coaching</b><br>
            <p>Choosing the right English proficiency test which assess your language is imperative to decision making
                while applying for overseas education. The Pearson Test of English Academic (PTE Academic), managed by
                the Pearson PLC group, is a computer-based English language test that is widely accepted by universities
                and colleges abroad. The test promises to offer its candidates “the fastest, fairest and most flexible
                way of proving their English language proficiency for study/work abroad or immigration purposes.</p>

            <p>We, at Rao consultants, offer the best PTE coaching in Ahmedabad. The sessions of PTE coaching are
                delivered by our highly experienced and knowledgeable faculty members. Our classrooms are we-equipped
                with all the necessary resources like abundant practice material, headphones and computers to enable
                students to get a hands-on experience of the test.</p><br>
            <b style="font-size: 35px;">What is PTE?</b><br>
            <p>The PTE (Pearson Test of English) Academic exam is a computer-based English language test which evaluates
                you in all the four skills such as reading, listening, writing and speaking. The PTE test is accepted by
                educational institutions and trusted by colleges, universities and governments across the globe.
                Individuals who aspire to study overseas or wish to immigrate to English-speaking countries like Canada,
                Australia, the USA, UK and New Zealand, consider taking The PTE test. This test is a parameter to gauge
                your English Language competency</p>
            <p>The three-hour-long computer-based test centres on day-to-day use of English language and examines the
                test taker on his/her ability to efficiently understand and speak the language on a daily basis. The
                scoring pattern and provision of the test results in a couple of working days distinguish the PTE test
                from other English language proficiency tests. These peculiar features of the test make it appropriately
                suitable for those who are in too much of a hurry.</p><br>
            <b style="font-size: 35px;">PTE Test Fee, Validity and Test Centres</b>
            <p>The standard exam fee for PTE Academic is INR 14,700. If for any reason, the test taker happens to book
                his PTE exam within 48 hours of the PTE test date, he will have to incur late test booking charge. The
                PTE test scores like IELTS, TOEFL and CELPIP are valid for a couple of years. There are over 250 PTE
                test centres in more than 50 countries worldwide</p><br>
            <b style="font-size: 35px;">PTE Test Format</b><br><br>
            <p>Mentioned below is the structure of all the four modules: Speaking & Writing, Reading, and Listening of
                the test.</p>
            <b style="font-size: 35px;">Speaking and Writing</b><br><br>
            <p>This section lasts for around 77 to 93 minutes and assess the examinees’ speaking and writing abilities.
                It comprises of 8 different tasks which are as follow:</p>
            <b style="font-size: 25px;">Types of questions</b><br><br>
            <ul>
                <li>Personal Introduction</li>
                <li>Read Aloud</li>
                <li>Repeat Sentence</li>
                <li>Describe Image </li>
                <li>Re-Tell Lecture</li>
                <li>Answer Short Question</li>
                <li>Summarize Written Text</li>
                <li>Essay</li>
            </ul>
            <b style="font-size: 35px;">Reading</b><br>
            <p>This section lasts for nearly 32-40 minutes and assess the examinees’ ability to understand instructions.
                It comprises of 5 various tasks which are as follows:</p>
            <b style="font-size: 25px;">Types of questions</b><br><br>
            <ul>
                <li>Multiple Choice, Choose Single Answer</li>
                <li>Multiple Choice, Choose Multiple Answers</li>
                <li>Re-Order Paragraphs</li>
                <li>Reading: Fill in the Blanks</li>
                <li>Reading and Writing: Fill in the Blanks</li>
            </ul>
            <b style="font-size: 35px;">Listening</b><br>
            <p>This section lasts for about 45-57 minutes and assess the examinees’ ability to understand spoken
                English. Test takers are required to attentively listen to the audio and remember whatever they hear. It
                is made up of 8 diverse tasks which are as follows:</p>
            <b style="font-size: 25px;">Types of questions</b><br><br>
            <ul>
                <li>Summarize Spoken Text</li>
                <li>Multiple Choice, Multiple Answer</li>
                <li>Fill in the Blanks</li>
                <li>Highlight Correct Summary</li>
                <li>Multiple Choice, Single Answer</li>
                <li>Select Missing Word</li>
                <li>Highlight Incorrect Words</li>
                <li>Write From Dictation</li>
            </ul>









        </div>





        <!-- info section -->
        <section class="info_section ">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info_logo">
                            <a class="navbar-brand" href="index.html">
                                <span>
                                    Viseas
                                </span>
                            </a>
                            <p>
                                Dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor
                                incididunt r
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_links">
                            <h5>
                                Useful Link
                            </h5>
                            <ul>
                                <li>
                                    <a href="">
                                        Dolor sit amet, consectetur
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Magna aliqua. Ut enim ad
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Minim veniam
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Quisdotempor incididunt r
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_info">
                            <h5>
                                Contact Us
                            </h5>
                        </div>
                        <div class="info_contact">
                            <a href="" class="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Lorem ipsum dolor sit amet,
                                </span>
                            </a>
                            <a href="" class="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call : +01 1234567890
                                </span>
                            </a>
                            <a href="" class="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    demo@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_form ">
                            <h5>
                                Newsletter
                            </h5>
                            <form action="#">
                                <input type="email" placeholder="Enter your email">
                                <button>
                                    Subscribe
                                </button>
                            </form>
                            <div class="social_box">
                                <a href="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end info_section -->




        <!-- footer section -->
        <footer class="container-fluid footer_section">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </footer>
        <!-- footer section -->

        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <!-- owl slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
        </script>
        <script src="js/custom.js"></script>

</body>

</html>