{% extends "client/base.html" %}
{% load static %}
{% block content %}

<div class="con-title">
    <img src="{% static 'images/webaus.jpg'%}" alt="" height="400px" width="100%">
    <div class="con-top-left">Australia</div>
</div>

<div class="con-visa">
    <h1>Australia visa</h1>
    <h3>VISITOR VISA / TOURIST VISA / BUSINESS VISA</h3><br>
</div>

<div class="con-info">
    <div class="con-info-img">
        <img src="{% static 'images/australia.webp'%}" alt="" style="height: 500px; width: 600px;">
    </div>

<div class="con-info-text">
    <p>Document</p>
    <ol>
      <li>Latest Valid Passport and Old Passports (if applicable)</li>
      <li>Three Photographs - Latest (35 x 45, White Background, 80% face)</li>
      <li>Latest Bank Statements of last 6 months with sign and seal</li>
      <li>Income Tax returns (Last 3 Years) + Form16 (if Job)</li>
      <li> Investments like FD, Post, PF, PPF, LIC, NSC, Stock, Mutual Funds, etc</li>
      <li>Proofs of properties like Home, Office, Factory, Land (7/12, 8A), etc</li>
      <li>Proofs of Job / Business (Business Registration, GST, etc)</li>
      <li>Leave sanction letter (if Job)</li>
      <li>Marriage Certificate</li>
      <li>Proofs of Children (Birth Certificate, Copy of Passport, etc)</li>
      <li>Aadhar Card, PAN Card, Driving License</li>
      

    </ol>
    <p>Sponsorship Documents from AustraliaK</p>

    <ol>
      <li> Sponsorship Declaration / Invitation Letter</li>
      <li>Copy of Passport (All Pages) / PR Card</li>
      <li>Bank Statements (Last 3 months)</li>
      <li>Salary Slips (Last 3 months) & P-60</li>
    
      
    </ol>

    <p>Business Visitors</p>
    <p>• Official Business Invitation Letter from the australia company</p>

</div> 


</div>

{% endblock content%}