{% extends "client/base.html" %}
{% load static %}

{% block content %}



  <!-- country section -->

  <section class="country_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Choose Country
        </h2>
        <p>
          Select country you want to apply visa for
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="{% url 'client' country='singapore' %}" class="box">
            <img src="{% static 'images/singapore.avif'%}" alt="" height="265px">
            <div class="detail-box">
              <h3>
                Singapore
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'client' country='canada' %}" class="box">
            <img src="{% static 'images/c2.jpg'%}" alt="">
            <div class="detail-box">
              <h3>
                Canada
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'client' country='uk' %}" class="box">
            <img src="{% static 'images/uk.jpg'%}" alt="">
            <div class="detail-box">
              <h3>
                United Kingdom
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'client' country='newzeland' %}" class="box">
            <img src="{% static 'images/c4.jpg'%}" alt="">
            <div class="detail-box">
              <h3>
                New Zealand
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'client' country='australia' %}" class="box">
            <img src="{% static 'images/c5.jpg'%}" alt="">
            <div class="detail-box">
              <h3>
                Australia
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'client' country='europe' %}" class="box">
            <img src="{% static 'images/europe.jpg'%}" alt="" height="265px">
            <div class="detail-box">
              <h3>
                Europe
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center">
    <button type="submit" class="btn btn-primary"><a href="{% url 'document'%}" style="text-decoration:none; color: ghostwhite;">Click Here To Submit Your document</a></button>
  </div><br><br>

  <!-- end country section -->

  {% endblock content %}