{% extends "client/base.html" %}
{% load static %}

{% block content %}
<div style="margin-top: 50px; margin-bottom: 50px; margin-left: 100px; margin-right: 100px;">
<form method="POST" action={{editpassword}}>
    
        <div class="mb-3">
          <label for="Password" class="form-label">Old Password</label>
          <input type="password" class="form-control" id="old_password" name="old_password">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password">
        </div>
        <div class="mb-3">
            <label for="repeatpassword" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="repeat_password" name="repeat_password">
        </div>
                      
                      
      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg">Update Password</button>
      </div>
  </form>
</div>



{% endblock content %} 