{% extends "client/base.html" %}
{% load static %}

{% block content %}

        <div>
            <img src="{% static 'images/webgmat1.avif'%}" alt="" height="300px" width="100%">
        </div>
        <div class="imfo" style="background: transparent; backdrop-filter: blur(20px);">
            <p>This is a test usually taken by students who are aspiring to pursue management or business studies
                abroad. This is a computer adaptive test that gauges a student’s analytical, writing, quantitative,
                verbal and reading skills in English. This examination, much unlike popular perception, does not assess
                business or intelligence skills. The exam is more about evaluating the problem solving and analytical
                abilities of an individual and does a comprehensive check of the person’s logical abilities, critical
                reasoning skills and data sufficiency.</p>
            <p>GRE and GMAT are two exams that every student aspiring for management studies wants to focus on. The
                scores of this exam are accepted around the world and a good score here can open a world of
                opportunities for students. This examination is conducted by GMAC, Graduate Management Admission
                Council, and is accepted by thousands of universities around the world.</p><br>
            <b style="font-size: 35px;">FORMAT</b><br><br>
            <p>There are mainly four sections of the GMAT exam, they are – Analytical writing assessment, Integrated
                Reasoning, Quantitative and Verbal Tests. The total duration of the exam is 3 hours and 30 minutes. The
                duration of the analytical writing assessment is of 30 minutes and involves the analysis of an argument.
                The Integrated reasoning section also lasts for 30 minutes while testing reasoning and analytical
                abilities of the individual using 12 questions. The quantitative section lasts for about 75 minutes and
                has 37 questions and is mostly about data sufficiency and problem solving. The verbal section has 41
                questions and goes on for about 75 minutes which includes reading comprehension, critical reasoning and
                sentence construction.</p><br>
            <p>There is a break given before the verbal section which lasts for about 10 minutes. There is also a new
                feature available now that allows you to preview your unofficial GMAT scores before deciding whether to
                accept or cancel them. This gives you far more control over your score reporting. A new change has also
                been announced by the GMAC which will allow students to choose which questions they want to answer first
                making it a more flexible format.</p>
            <p><b>Exam Fees: USD 250
                </b></p>
                <p><b>Course Duration: 12 weeks</b></p>
                <p><b>Crash Batch: 6 weeks</b></p>
            <p><b>Score Validity: 5 years</b></p>

        </div>

        {% endblock content %}



        