{% extends "client/base.html" %}
{% load static %}

{% block content %}
    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-7">
                  <div class="detail-box">
                    <h1>
                      We Make Visa <br>
                      Process Faster
                    </h1>
                    <p>
                      We provide Visa Service For Many Countries 
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'countries' %}" class="btn-1"> Read more </a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-7">
                  <div class="detail-box">
                    <h1>
                      We Also Provide <br>
                      Coaching Service
                    </h1>
                    <p>
                      We Provide Coaching Service for Ielts,Gmat and Pte
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'coaching'%}" class="btn-1"> Read more </a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="container idicator_container">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            {% comment %} <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> {% endcomment %}
          </ol>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our services
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Business Visa
              </h6>
              <p>
              A business visa is a travel authorization that allows an entrepreneur or company employees to visit a foreign country temporarily for business purposes. Under this kind of visa they may perform business activities that don't constitute work or employment in the country of issue whilst visiting.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s2.png'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Work Visa
              </h6>
              <p>
                A work visa is a type of visa that grants the holder authorization to accept employment in a foreign country. It may be issued as a stamp in the passport or as a separate document. It is needed to enter the country for the purpose of performing paid work.
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s3.png'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Tourist Visa
              </h6>
              <p> 
                Tourist/Travel visas allow the bearer to enter a foreign country for touristic and leisure purposes only and stay for a predetermined amount of time. These visas do not entitle the holder to work or engage in any business activities in the host country.
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s4.png'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Student Visa
              </h6>
              <p>
                A student visa is a legal immigration document issued to students by another country that allows them to study for a certain period of time. Student visas are commonly used by students at colleges, universities, and specialty institutions.
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="{% static 'images/about-img.jpg'%}" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Who Are We?
              </h2>
            </div>
            <p>
              Quick-visa Consultant is a leading foreign education and immigration consultancy aimed at providing genuine, reliable and expert advise to people interested in studying, migrating or visiting abroad at affordable price. We have assisted thousands of clients in turning their dreams into reality. Motivated by our core values - ethics, honesty and expertise - we are one of the most trusted name in the field of overseas education and immigration.
            </p>
            <div class="btn-box">
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- country section -->

  <section class="country_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Choose Country
        </h2>
        <p>
          Select country you want to apply visa for
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="{% url 'client' 'singapore' %}" class="box">
            <img src="{% static 'images/singapore.avif'%}" height="260px"  alt="">
            <div class="detail-box">
              <h3>
                Singapore
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'client' 'canada' %}"  class="box">
            <img src="{% static 'images/c2.jpg'%}" alt="">
            <div class="detail-box">
              <h3>
                Canada
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'client' 'uk' %}"  class="box">
            <img src="{% static 'images/uk.jpg'%}" alt="">
            <div class="detail-box">
              <h3>
                United Kingdom
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'client' 'neweland' %}" class="box">
            <img src="{% static 'images/c4.jpg'%}" alt="">
            <div class="detail-box">
              <h3>
                New Zealand
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'client' 'australia' %}"  class="box">
            <img src="{% static 'images/c5.jpg'%}" alt="">
            <div class="detail-box">
              <h3>
                Australia
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'client' 'europe' %}"  class="box">
            <img src="{% static 'images/europe.jpg'%}" alt="" height="265px">
            <div class="detail-box">
              <h3>
                Europe 
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end country section -->

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="contact_bg_box">
      <img src="{% static 'images/contact-bg.jpg'%}" alt="">
    </div>
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Need Visa? We Can Make Your Dream Come True!
        </h2>
        <h4>Fill Below Form If You Have Any Query</h4>
      </div>
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="form_container">
            <form action="{{index}}" method="post">
              {% csrf_token %} 
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="name" placeholder=" Name" name="name" />
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" placeholder="Email" id="email" name="email" />
                </div>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" id="phoneno" placeholder="phone number" name="phoneno">
              </div>

              <div class="form-group ">
                <input type="text" class="message-box" placeholder="Message" id="message" name="message" />
              </div>
              <div class="btn-box">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What Says Our Client
        </h2>
      </div>
      <div class="client_container">
        <div class="carousel-wrap ">
          <div class="owl-carousel">
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/client-3.jpg'%}" alt="" class="img-1">
                </div>
                <div class="detail-box">
                  <h5>
                    Rahi patel
                  </h5>
                 
                  <p>
                    Amazing n worth with their professionalism. My experience with Ohm was awesome. Great work.. I got my Poland student visa through Ohm Consultant. Initially, I was depressed but Atul Sir from Ohm Consultant had guided me nicely throughout the process.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/client-5.jpeg'%}" alt="" class="img-1">
                </div>
                <div class="detail-box">
                  <h5>
                    Rajesh Shukla
                  </h5>
                  
                  <p>
                    I am so happy that I got my UK Visitor visa without any hurdle. Thank you for your kind guidance, especially for documentation part. It was really wonderful experience with Ohm Visa Consultant. I am thankful to Ohm Consultant to assist me in getting my UK visa.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/client-6.jpg'%}" alt="" class="img-1">
                </div>
                <div class="detail-box">
                  <h5>
                    Bhumik Jain
                  </h5>
                  
                  <p>
                  I am Mrugesh Patel from Ahmedabad. I got my student visa of New Zealand by the help of Ohm Consultant. I suggest coming to Ohm Consultant, who are desirable to study in New Zealand or any developed country. Be a part of friendly, trustworthy and genuine services.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/client-4.jpg'%}" alt="" class="img-1">
                </div>
                <div class="detail-box">
                  <h5>
                    Nensi Vala
                  </h5>
                  
                  <p>
                    I got my USA and Canada visitors visa through Ohm Consultant. Special thanks to Sonalimem and all the staff members for their kind support. Thank you so much for making my dream into reality.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->


  {% endblock content %}