{% extends "client/base.html" %}
{% load static %}

{% block content %}

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our services
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s1.png'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Business Visa
              </h6>
              <p>
                A business visa is a travel authorization that allows an entrepreneur or company employees to visit a foreign country temporarily for business purposes. Under this kind of visa they may perform business activities that don't constitute work or employment in the country of issue whilst visiting.
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s2.png'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Work Visa
              </h6>
              <p>
                A work visa is a type of visa that grants the holder authorization to accept employment in a foreign country. It may be issued as a stamp in the passport or as a separate document. It is needed to enter the country for the purpose of performing paid work.
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s3.png'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Tourist Visa
              </h6>
              <p>
                Tourist/Travel visas allow the bearer to enter a foreign country for touristic and leisure purposes only and stay for a predetermined amount of time. These visas do not entitle the holder to work or engage in any business activities in the host country.
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s4.png'%}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Student Visa
              </h6>
              <p>
                A student visa is a legal immigration document issued to students by another country that allows them to study for a certain period of time. Student visas are commonly used by students at colleges, universities, and specialty institutions.
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center">
    <button type="submit" class="btn btn-primary"><a href="{% url 'document'%}" style="text-decoration:none; color: ghostwhite;">Click Here To Submit Your document</a></button>
  </div><br><br>

  <!-- end service section -->

  {% endblock content %}

  
  