{% extends "client/base.html" %}
{% load static %}

{% block content %}



<div class="sin-title">
	<img src="{% static 'images/websingapore.avif'%}" alt="" height="350px" width="100%">
	<div class="sin-top-left">SINGAPORE</div>
</div>

<div class="singapore">
	<h1 style="text-align: center;">Singapore  visa</h1>
	<h3 style="text-align: center;" >VISITOR VISA / TOURIST VISA / BUSINESS VISA</h3>
</div>

<div class="sin-info">
	<div class="sin-info-img">
		<img src="{% static 'images/singapore.avif'%}" alt="">
	</div>

	<div class="sin-info-text">
		<b>Document</b><br>
	
		<b>1.Valid Passport and Old Passports (if applicable)</b><br>
		<b>2.Three Photos Latest, white background, 35mm x 45mm, 80% face, Camera Click</b><br>
		<b>3.Original Bank Statements of last 6 months with sign and bank seal; 50,000+ Balance is necessary per person</b><br>
		<b>4.Confirm Return Air tickets</b><br>
		<b>5.Hotel Confirmation</b><br>
		<b>6.Employment Proofs / Leave sanction letter (if job)</b><br>
		<b>We may need additional documents, after reviewing your file.</b><br>
		<b>Business Visitors</b><br>
		<b>• Invitation Letter from Singapore Company</b>
		<b>• Supporting Letter from the Indian Company</b><br>
	</div> 
	
	
</div>

     
	{% endblock content %}


  