{% extends "client/base.html" %}
{% load static %}

{% block content %}



<div class="con-title">
	<img src="{% static 'images/websingapore.avif'%}" alt="" height="350px" width="100%">
	<div class="con-top-left">SINGAPORE</div>
</div>

<div class="con-visa">
	<h1>Singapore  visa</h1>
	<h3>VISITOR VISA / TOURIST VISA / BUSINESS VISA</h3><br>
</div>

<div class="con-info">
	<div class="con-info-img">
		<img src="{% static 'images/singapore.avif'%}" alt="" style="border: 2px solid black;">
  
	</div>

	<div class="con-info-text">
  <b>Document</b><br><br>
	  <ol>
		<li>Valid Passport and Old Passports (if applicable)</li><br>
		<li>Three Photos Latest, white background, 35mm x 45mm, 80% face, Camera Click</li><br>
		<li>Original Bank Statements of last 6 months with sign and bank seal; 50,000+ Balance is necessary per person</li><br>
		<li>4.Confirm Return Air tickets</li><br>
		<li>5.Hotel Confirmation</li><br>
		<li>6.Employment Proofs / Leave sanction letter (if job)</li><br>
  </ol>
		<b>We may need additional documents, after reviewing your file.</b><br>
		<b>Business Visitors</b><br>
		<b>• Invitation Letter from Singapore Company</b>
		<b>• Supporting Letter from the Indian Company</b><br>
	</div> 
	
	
</div>
     
	{% endblock content %}


  